*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  text-align: center;
}

form{
  padding: 20px;
}

#todoField{
  
  width: 500px;
  padding: 10px;
  font-size: large;
}

#createTodo{
  height: 40px;
  width: 100px;
  font-size: large;
}

#todoContainer{
  font-size: x-large;
display: flex;
justify-content: center;
}


.todo{
  display: flex;
  
}

